
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html,body{
   height: 100%;
   width: 100%;
   font: 62.5;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   text-align: center;
}
/* background related properties */
body{
    background-image: url(./istockphoto-621484894-2048x2048.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top bottom left right;
}
/* practicing background colour and colour property */
h1 {
   background-color: blanchedalmond;
   color: black;
}
/* practicing width and height and box model */
.container{
    height: 500px ;
    width: 500px;
    background-color: aqua;
    padding: 30px;
    margin-left: 400px;
    margin-top: 20px;
}
.box1{
    height: 100px;
    width: 200px;
    background-color: red;
    color: white;
 margin-right: 5px;
 margin-left: 130px;
margin-top: 35px;
margin-bottom: 20px;
padding-right: 5px;
 padding-left: 10px;
padding-top: 15px;
padding-bottom: 20px;
}
.box2{
    height: 100px;
    width: 200px;
    background-color: blue;
color: white;
margin-right: 5px;
 margin-left: 130px;
margin-top: 15px;
margin-bottom: 20px;
padding-right: 5px;
 padding-left: 10px;
padding-top: 15px;
padding-bottom: 20px;
}

.box3{
    height: 100px;
    width: 200px;
    background-color: #2ffb10;
    color: white;
    margin-right: 5px;
 margin-left: 130px;
margin-top: 15px;
margin-bottom: 20px;
padding-right: 5px;
 padding-left: 10px;
padding-top: 15px;
padding-bottom: 20px;
}
/* practicing border properties */
p{
    border: 3px solid blue;
    padding: 30px;
    border-radius: 5px;
    width: 500px;
    background-color: lightpink;
    text-align: center;
    margin-left: 400px;
    margin-top: 30px;
}
button{
    margin: 30px;
    padding: 15px;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 30px;
    text-align: center;
}
H5{
    margin-left: 50px;
    text-align: center;
}
